%section.ten-oh-announcement
  .ten-oh-label
    %span 12.10
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.10 introduces Requirements Management, Autoscaling CI Runners on AWS Fargate, Issue and Epic Health, and much more!

      .btn-group
        = link_to "/releases/2020/04/22/gitlab-12-10-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
