---
layout: handbook-page-toc
title: Package Group - JTBD
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Overview
The goal of this page is to create, share and iterate on the Jobs to be Done and their corresponding job stories for the Package stage. Our goal is to utilize the jobs theory to better understand our buyers' and users' needs.

## Goals
Utilize JTBD and job stories to:
- Understand our users' motivations
- Validate identified use cases and solutions
- Continuously test and iterate features to ensure we are meeting our customers' and users' needs.
- Create a transparent view for our stakeholders into the current and future state of the product.

## Challenges
- Most customers do not purchase GitLab solely for the Package stage. So, there will be assumptions in the JTBD that from the buyer's perspective, the motivations for 'buying' Package are the same.

## JTBD's

<%= partial("direction/jtbd-list", locals: { stage_key: "Package" }) %>
